/*
Version: 1.0.0
*/

/* add $ to donation amount and other amount fields */
#donation-form #donation-amount,
#donation-form #other-amount {
    padding-left: 16px;
}

#donation-form .donation-amount:before,
#donation-form .other-amount:before {
    color: #000000;
    content: "$";
    font-size: 14px;
    padding-top: 6px;
    position: absolute;
}

#donation-form .donation-amount:before {
    left: 5px;
}

#donation-form .other-amount:before {
    left: 70px;
}

/* give context to start date of recurring donation */
#donation-form .start-date:before {
    color: #000000;
    content: "Starting on ";
    font-size: 14px;
    padding-top: 6px;
}

#donation-form #frequency {
    width: 100px;
}

#donation-form #start-date {
    width: 160px;
}

/* hide form field labels */
#donation-form h3,
#donation-form label,
#email-registration-form h3,
#email-registration-form label:not([for="CustomAccountField_945152"]),
#email-registration-form .consent {
    display: none;
}

/* use consistent style across all form fields, including Stripe credit card field */
#donation-form input,
#donation-form select,
#donation-form textarea,
#donation-form #card-element.StripeElement,
#email-registration-form input, 
#email-registration-form .checkboxes {
    border-color: #dcdcdc;
    border-radius: 5px;
    border-style: inset;
    border-width: 1px;
    box-sizing: border-box;
    color: #000000;
    font-size: 14px;
    height: 36px;
}

#donation-form input::placeholder,
#donation-form textarea::placeholder,
#email-registration-form input::placeholder {
    color: #b3b3b3;
}

/* minor formatting */
#donation-form label[for="recurring"],
#donation-form label[for="true-impact"],
#donation-form .radio label {
    color: #000000;
    display: block;
    font-size: 14px;
}

#donation-form .section.recurring,
#donation-form .section.true-impact,
#donation-form #noCaptchaResponseError {
    padding-left: 14px;
}

#email-registration-form #CustomAccountField_945152 {
	height: 61px;
}

/* style Stripe credit card field */
#donation-form #card-element.StripeElement {
	max-width:350px;
}

#donation-form #card-element.StripeElement--invalid {
	border-color: #fa755a;
}

/* style submit button */
#donation-form .btn-submit,
#email-registration-form .btn-submit {
    background-color: #313e7c;
    border-style: solid;
    border-width: 0px;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    height: 48px;
    letter-spacing: 1px;
    margin: 16px 0px 16px 0px;
    text-transform: uppercase;
    width: 275px;
}

#donation-form .btn-submit:hover,
#email-registration-form .btn-submit:hover {
    background-color: black;
}