@media (max-width: 480px) {
    .flickr-photo-wrapper {
        padding-top: 50%;
        width: 50%;
    }

    .flickr-photo-wrapper.featured {
        padding-top: 100%;
        width: 100%;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .flickr-photo-wrapper {
        padding-top: 25%;
        width: 25%;
    }

    .flickr-photo-wrapper.featured {
        padding-top: 50%;
        width: 50%;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .flickr-photo-wrapper {
        padding-top: 20%;
        width: 20%;
    }

    .flickr-photo-wrapper.featured {
        padding-top: 33.33%;
        width: 33.33%;
    }
}

@media (min-width: 993px) {
    .flickr-photo:hover {
        opacity: 0.3;
    }

    .flickr-photo-wrapper {
        padding-top: 16.66%;
        width: 16.66%;
    }

    .flickr-photo-wrapper.featured {
        padding-top: 33.33%;
        width: 33.33%;
    }
}

#flickr-album-container,
#flickr-photo-container {
    display: block;
}

select#flickr-album {
    max-width: 400px;
    width: 100%;
}

.flickr-photo-wrapper {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.flickr-photo {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 2px;
    object-fit: cover;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: fadeInOpacity;
    animation-timing-function: ease-in;
    opacity: 1;
    transition: opacity 0.2s;
}

@keyframes fadeInOpacity {
    0% { opacity: 0; }
    100% { opacity: 1; }
}